apiVersion: v1
kind: Service
metadata:
  name: anomaly-detector-service
spec:
  # 1. The Selector: This tells the Service which Pods to group together.
  # It matches the "labels" we put in the Deployment.
  selector:
    app: anomaly-detector
    
  # 2. The Type: NodePort opens a specific port on your physical computer (localhost)
  # so you can talk to the cluster from outside.
  type: NodePort
  
  ports:
    - protocol: TCP
      port: 80        # The port the Service listens on internally
      targetPort: 80  # The port your Container is listening on (we will set this up next)
      nodePort: 30007 # The port on your Windows machine (localhost:30007)